<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Opss</h1>
        <h2>An error occurred while processing your request.</h2>   
        <p><a class="btn btn-primary btn-lg" href="/countries">Home</a></p>
    </div>  
</body>
</html>
